.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -7rem;
}

.right-timer {
    text-align: left;
    font-family: "medium";
}

.right-timer h1 {
    font-weight: bold;
    font-size: 2rem;
}

.timer img {
    width: 500px;
    height: 500px;
    margin-right: 5rem;

}

.timer-numbers {
    font-size: 4rem;
    width: 5rem;
    white-space: nowrap;
}

.timer-text {
    padding-left: 1.5rem;
    font-size: 4rem;
    text-align: left;
}

.stats {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.relapse-button {
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: .5rem;
    width: 100%;
    background-color: rgba(148, 0, 0, 0.476);
    transition: 0.2s;
    font-weight: bold;
    font-size: 1.5rem;
}

.relapse-button:hover {
    background-color: rgba(221, 0, 0, 0.476)
}

.timer-text-d {
    color: #C8963E;
    transition: 0.5s;

}

.timer-text-h {
    color: #6f71ff;
    transition: 0.5s;
}

.timer-text-m {
    color: #ff4e4e;
    transition: 0.5s;
}

.timer-text-s {
    color: #3efff2;
    transition: 0.5s;
}

.timer-text-d:hover {
    font-size: 4.2rem;
    transform:rotateZ(1.5deg);
}

.timer-text-h:hover {
    font-size: 4.2rem;
    transform:rotateZ(1.5deg);
}

.timer-text-m:hover {
    font-size: 4.2rem;
    transform:rotateZ(1.5deg);
}

.timer-text-s:hover {
    font-size: 4.2rem;
    transform:rotateZ(1.5deg);
}

