.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.right-timer {
    text-align: left;
}

.right-timer h1 {
    font-weight: bold;
    font-size: 2rem;
}

.timer img {
    width: 500px;
    height: 500px;
    margin-right: 5rem;

}

.timer-numbers {
    font-size: 4rem;
}

.timer-text {
    padding-left: 1.5rem;
    font-size: 4rem;
    text-align: left;
}

.stats {
    display: flex;
    align-items: left;
    justify-content: left;
}

.relapse-button {
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: .5rem;
    width: 100%;
    background-color: rgba(148, 0, 0, 0.476);
    transition: 0.3s;
    font-weight: bold;
}

.relapse-button:hover {
    background-color: rgba(221, 0, 0, 0.476)
}

.timer-text-d {
    color: #C8963E;
}

.timer-text-h {
    color: #6f71ff;
}

.timer-text-m {
    color: #ff4e4e;
}

.timer-text-s {
    color: #3efff2;
}
